      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
      <link href="/assets/style2Demo.css" rel="stylesheet" />
      <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
      <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script> -->
        <body>
        <div class="sp-container">
  <div class="sp-content">
    <div class="sp-globe"></div>
  <h2 class="frame-1">Each generation should surpass the previous</h2>
          <h2 class="frame-2">But a plan, the tools and motivation are a struggle for some</h2>
          <h2 class="frame-3">We plan to change that!</h2>
          <h2 class="frame-4">You can too!</h2>
          <h2 class="frame-5"><span>Ngage</span> <span>Ncourage</span> <span>MPWR</span></h2>
          <a><%= link_to 'Get mpwr\'d', contacts_path, class: "sp-circle-link" %></a>
  </div>
</div>
                    </body>
                      <script type="text/javascript">
    window.location.href="/mpwr"  // put your correct path in a string here
  </script>
