<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MPWR</title>

 
    <link rel="stylesheet" href="css/thanks.css" type="text/css">

</head>
  <div class="gangham"></div>
 <div>THANK YOU!!!!
<%= image_tag("green-tick.png", height: '100', width: '100') %>
</div>

<%= image_tag("carlton.gif", height: '100', width: '100') %>
<%= image_tag("turbo1.gif", height: '100', width: '100') %>